.idea
.tox
.DS_Store
.coverage
.vagrant
.cache

whoosh*
abilian.db
tmp
cache
dist
tests/cache
tests/tmp
tests/extra_files
maxid.data
sandbox
results
build
MANIFEST
docs/_build
htmlcov

abilian/static/misc*
abilian/static/.webassets-cache
abilian/static/gen
abilian/static/placeholders

*.pyc
*.egg-info
*.swp
*.prof
*.stats
*.mo
