language: python
python:
  - "2.7"

# Install dependencies
before_install:
 - sudo apt-get update
 - sudo apt-get install -y poppler-utils

# Install Python dependencies
install:
  - pip install -r etc/deps-frozen.txt --use-mirrors
  - pip install -r etc/deps-devel.txt --use-mirrors

# Run tests
script:
  - py.test -q --cov abilian --cov-report term-missing tests abilian
  - sphinx-build -W -b html docs/ docs/_build/

after_success:
  - coveralls
