{%- extends "admin/_base.html" %}

{% block content %}
  <p class="lead">
    {% trans %}
    Tags are grouped by namespaces, so that different set of tags can be
    defined for different type of objects, or for a different purpose.
    {% endtrans %}
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{ _('Namespace') }}</th>
        <th>{{ _('# Tags') }}</th>
        <th>{{ _('# Tagged objects') }}</th>
      </tr>
    </thead>
    <tbody>
    {%- for info in namespaces %}
      <tr>
        <td><a href="{{ url_for('.tags_ns', ns=info.ns) }}">{{ info.ns }}</a></td>
        <td>{{ info.tag_count or 0 }}</td>
        <td>{{ info.obj_count or 0 }}</td>
      </tr>
  {%- endfor %}
    </tbody>
  </table>
{% endblock %}
