/* ************************************************************************** */
/* Admin */
/* ************************************************************************** */

#dashboard .stats {
  text-align: center;
  padding: 25px 0 10px 0;
  margin: 0 0 10px 0;

  li {
    display: inline-block;
    text-align: center;
    width: 22%;

    strong {
      display: block;
      font-size: 60px;
      margin-bottom: 20px;
      color: #555;

      &.new_members { color: #FF7F66; }
      &.logins { color: #2185C5; }
      &.new_documents { color: #2EFD58; }
      &.new_messages { color: #FFE054; }
    }

    span {
      display: block;
      font-size: 14px;
      color: #888;
      line-height: 2em;
    }
  }
}
