.dataTables_filter > label > input {
  .form-control();

  @media (min-width: @screen-sm-min) {
    display: inline-block;
    width: auto; // Prevent labels from stacking above inputs in `.form-group`
    vertical-align: middle;
  }
}

.table-striped.dataTable {
  tr {
    &.odd {
      > td,
      > th {
        background-color: @table-bg-accent;
      }
      > td {
        &.sorting_1,
        &.sorting_2,
        &.sorting_3 {
          background-color: @table-bg-accent;
        }
      }
    }

    &.even > td {
      background-color: white;
      &.sorting_1,
      &.sorting_2,
      &.sorting_3 {
        background-color: white;
      }
    }
  }
};
