.navbar .search-query {
  border-radius: @navbar-border-radius;  
}

/* typeahead hint is input box set behind seach input to show completion for 1st
   element */
.navbar-search .tt-hint {
  font-size: 13px;
  padding: 4px 14px;
}

.twitter-typeahead {
  /* ensure search box width vary */
  width: 100%
}