/* styles for search components */

.ab-search-input {
  margin-bottom: 0.3em;
}

.ab-search-results {
  margin-top: 2em;
}

.ab-search-result {
  margin-top: 1em;

  .title {
    font-size: 1.25em;
    font-weight: bold;
  }
}

.advanced-search-filters {
  .criterion {

    /* close button */
    > div:first-child .close {
      float: left;
    }

  }
}
