<div class="image-input row">
  <div class="col-xs-12">
    <span class="js-fileapi-wrapper upload-btn">
      <span class="btn btn-default btn-file">
        {{ button_label }}
        {{ input|safe }}
      </span>
    </span>
  </div>
  
  <div class="selected-files">
    {%- for data in existing %}
      <div class="file-item col-xs-12 col-md-6">
        {%- if data.image_url %}
          <image src="{{ data.image_url }}" class="img-thumbnail"
                 style="max-width: {{ widget.width }}px; max-height: {{ widget.height }}px" />
        {%-  endif %}        
        <span class="file-info">{{ loop.index0 }}. — {{ data.size | filesize }}</span>
        {%- if field.allow_delete %}
          <input type="checkbox" class="push-right"
                 name = "__{{ fieldname }}_delete__" value="{{ loop.index0 }}"
                 {%- if data.delete %} checked{%- endif %} />
        {%- endif %}
      </div>
    {%- endfor %}
    
    {%- for data in uploaded %}
      <div class="file-item col-xs-12 col-md-6">
        {%- if data.image_url %}
          <image src="{{ data.image_url }}" class="img-thumbnail"
                 style="max-width: {{ widget.width }}px; max-height: {{ widget.height }}px" />
        {%-  endif %}                
        <span class="file-info">{{ data.filename }} – {{ data.size|filesize }}</span>
        <input type="hidden" name="{{ field.name }}" value="{{ data.handle }}" />
        <a class="close" href="#">&times;</a>        
      </div>
    {%- endfor %}
  </div>
</div>
