# For running tests
pytest>=2.4.0
pytest-xdist
tox<2.2

# needed to avoid a ResourceClosedError when using some CTE queries with 0 results:
# https://bitbucket.org/zzzeek/sqlalchemy/issues/3079/select-statement-returning-0-rows
# http://bugs.python.org/issue21718
pysqlite >= 2.8.1

# Backport of Python 3 mocking library
mock>=1.0.1

# For coverage
pytest-cov

# Static code analysis
pylama
flake8

# To build docs
Sphinx

# Standard theme for readthedocs.com
sphinx-rtd-theme

# Used by functional tests
requests

# Check README
restructuredtext_lint
