# For running tests
tox
pytest>=2.4.0
pytest-xdist
pytest-randomly
pytest-repeat

# Backport of Python 3 mocking library
mock>=1.0.1

# For coverage
pytest-cov

# Static code analysis: flake* en friends
flake8
flake8-comprehensions
flake8-mutable
flake8-pytest
flake8-super-call
flake8-tidy-imports
mastool
mccabe

# Later
# flake8-bugbear (py3k only)
# flake8-pep3101
# this one tries too hard
# pep8-naming

# More static analysis tools
pylint
pre-commit

# Formatting (update version explicitely when needed)
isort==4.3.4
docformatter==1.0

# To build docs
# (Doesn't work w/ sphinx 1.4.5)
Sphinx>=1.5.5

# Standard theme for readthedocs.com
sphinx-rtd-theme

# Used by functional tests
requests

# Check README
restructuredtext_lint

# To manage dependencies
pip-tools
