# For running tests
pytest>=2.4.0
pytest-xdist

# needed to avoid a ResourceClosedError when using some CTE queries with 0 results:
# https://bitbucket.org/zzzeek/sqlalchemy/issues/3079/select-statement-returning-0-rows
# http://bugs.python.org/issue21718
#pysqlite >= 2.8.1

# Backport of Python 3 mocking library
mock>=1.0.1

# For coverage
pytest-cov

# Static code analysis
flake8
flake8-tidy-imports
# mastool

# To build docs
# (Doesn't work w/ sphinx 1.4.5)
Sphinx==1.4.4

# Standard theme for readthedocs.com
sphinx-rtd-theme

# Used by functional tests
requests

# Check README
restructuredtext_lint
