alabaster==0.7.12
alembic==1.2.1
amqp==2.5.1
apipkg==1.5
appdirs==1.4.3
aspy.yaml==1.3.0
atomicwrites==1.3.0
attrs==19.2.0
Babel==2.7.0
bcrypt==3.1.7
billiard==3.6.1.0
black==19.3b0
bleach==3.1.0
blinker==1.4
celery==4.3.0
certifi==2019.9.11
cffi==1.12.3
cfgv==2.0.1
chardet==3.0.4
clamd==1.0.2
Click==7.0
closure==20190417
coverage==4.5.4
cssmin==0.2.0
decorator==4.4.0
Deprecated==1.2.6
docformatter==1.3
docutils==0.15
entrypoints==0.3
execnet==1.7.1
flake8==3.7.8
flake8-bugbear==19.8.0
flake8-comprehensions==2.2.0
flake8-mutable==1.2.0
flake8-mypy==17.8.0
flake8-pytest==1.3
flake8-super-call==1.0.0
flake8-tidy-imports==2.0.0
Flask==1.1.1
Flask-Assets==0.12
Flask-Babel==0.12.2
Flask-DebugToolbar==0.10.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.1
flask-talisman==0.7.0
Flask-WTF==0.12
gitchangelog==3.0.4
html5lib==1.0.1
hyperlink==19.0.0
identify==1.4.7
idna==2.8
imagesize==1.1.0
importlib-metadata==0.23
infinity==1.4
intervals==0.8.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jsmin==2.2.2
kombu==4.6.5
lxml==4.4.1
Mako==1.1.0
MarkupSafe==1.1.1
mastool==0.1.3
mccabe==0.6.1
more-itertools==7.2.0
mypy==0.730
mypy-extensions==0.4.2
nodeenv==1.3.3
numpy==1.17.2
packaging==19.2
pandas==0.25.1
pathlib==1.0.1
Pillow==6.2.0
pluggy==0.13.0
pre-commit==1.18.3
py==1.8.0
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
pygeoip==0.3.2
Pygments==2.4.2
pyparsing==2.4.2
pytest==5.2.1
pytest-cov==2.8.1
pytest-forked==1.1.1
pytest-randomly==3.1.0
pytest-repeat==0.8.0
pytest-xdist==1.30.0
python-dateutil==2.8.0
python-editor==1.0.4
python-magic==0.4.15
pytz==2019.3
PyYAML==5.1.2
redis==3.3.11
requests==2.22.0
restructuredtext-lint==1.3.0
sentry-sdk==0.12.3
six==1.12.0
snowballstemmer==2.0.0
Sphinx==2.2.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
SQLAlchemy==1.3.10
SQLAlchemy-Utils==0.34.2
sqlparse==0.3.0
toml==0.10.0
tqdm==4.36.1
typed-ast==1.4.0
typeguard==2.5.1
typing==3.7.4.1
typing-extensions==3.7.4
untokenize==0.1.1
urllib3==1.25.6
validators==0.14.0
vine==1.3.0
virtualenv==16.7.5
wcwidth==0.1.7
webassets==0.12.1
webencodings==0.5.1
Werkzeug==0.16.0
Whoosh==2.7.4
wrapt==1.11.2
WTForms==2.2.1
WTForms-Alchemy==0.16.9
WTForms-Components==0.10.4
WTForms-SQLAlchemy==0.1
zipp==0.6.0
