{% extends "admin/_base.html" %}

{% from "macros/box.html" import m_box %}

{% block content %}

  {%- call m_box("System information") %}

    <h2>OS information</h2>
    <pre>{{ uname }}</pre>

    <h2>Python version</h2>

    <pre>{{ python_version }}</pre>

    <h2>Installed Python packages</h2>

    <table class="table table-striped table-bordered table-condensed">
      <tbody>
      {%- for package in packages -%}
        <tr>
          <td>{{ package.name }}</td>
          <td>{{ package.version }}</td>
          <td>
            {%- if package.vcs %}
              <span title="{{ package.vcs.url }}@{{ package.vcs.revision }}">
                <span class="label label-info">{{ package.vcs.name }}</span>
                <samp>{{ package.vcs.revision }}</samp>
              </span>
            {%- endif %}
          </td>
        </tr>
      {% endfor -%}
      </tbody>
    </table>

    <h2>Application config</h2>

    <table class="table table-striped table-bordered table-condensed">
      <tbody>
      {%- for k, v in config_values -%}
        <tr>
          <td>{{ k }}</td>
          <td>{{ v }}</td>
        </tr>
      {% endfor -%}
      </tbody>
    </table>

  {% endcall %}

{% endblock %}
