{% if labels %}
<table class="dynamic-row-widget span{{ labels|length }}">
  {% if labels %}
  <thead>
    {% for label in labels %}
      <th>{{ label }}</th>
    {%- endfor %}
  </thead>
  {%- endif %}
  <tbody>
    {% for fieldform in field %}
    <tr>
      {% for subfield in fieldform if not subfield.flags.hidden %}
      <td>
        {% if loop.first %}
          {% for subfield in fieldform if subfield.flags.hidden %}
            {{ subfield }}
          {%- endfor %}
        {%- endif %}
        
        {{ subfield(class="span1") }}
      </td>
      {%- endfor %}
    </tr>
    {%- endfor %}
  </tbody>
</table>
{%- endif %}
