{% extends "base.html" %}

{% from "macros/box.html" import m_box %}

{% block main %}
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-heading">{{ _("Preferences") }}</div>

      <div class="list-group">        
        {%- for entry in menu %}
          <a class="list-group-item {%- if entry.active %} active{%- endif %}"
             href="{{ entry.url }}">
            {{ entry.label }}
          </a>
        {%- endfor %}
      </div>
    </div>
  </div>

  <div class="col-xs-9">
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}
